/*------------------------------------*\
    #Post
\*------------------------------------*/
.header-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
@include breakpoint($large) {
	height: 60vh;
	top: 0;
}
@include breakpoint($medium) {

	top: 0;
}
}

.header-overlay:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.5);
}

.header-overlay:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.42) 53%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(53%,rgba(255,255,255,0.42)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 53%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 53%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 53%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.42) 53%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

}

.post-wrapper{
	position: relative;
	margin-top: 5%;
	@include breakpoint($medium) {
		
		margin-top: 0;
	}

	@include breakpoint($large) {
		
		margin-top: 0;
	}
}

.post-content {
	width: span(10 of 12 last);
	margin: 0 auto;
	margin-top: 12vh;
	position: relative;
	max-width: 1000px;

	@include breakpoint($medium) {
		width: span(8 of 12 last);
		margin-top: 0;
	}

	@include breakpoint($large) {
		width: span(6 of 12 last);
		margin-top: 0;
	}

}

.post-header{
	position: relative;
	height: 70vh;
	margin-bottom: 2em;

	

@include breakpoint($large) {
	height: 60vh;
	top: 0;
}
@include breakpoint($medium) {

	top: 0;
}
}

.post-header img{
	height: 100%;

}

.post-title{
	@include centerer();
	width: span(10 of 12);
	color: white;
	text-align: center;
	
}

.post-title h1{
	font-weight: bold;
	font-size: 3em;
	margin: 0 auto;
	color: $gold;

	@include breakpoint($medium){
		font-size: 4em;
	}

	@include breakpoint($large) {
		font-size: 5em;	
	}
}

.post-title p{
	font-size: 1.5em;
	font-style: italic;
	

	@include breakpoint($medium) {
		font-size: 1.25em;
	}

	@include breakpoint($large) {
		font-size: 1.375em;
		line-height: 1.5em;
	}
	
}

.post-meta {
	position: relative;
	text-align: center;
}

.post-details{

	position: absolute;
	left: 50%;
	transform: translate(-50%, - gutter(2));
	width: 95%;
	bottom: 0;
	color: white;
	z-index: 6;
	float: left;
	@include container;
	@include breakpoint($medium) {
		width: 75%;

	}
}

.post-details a{
	text-decoration: underline;
	color: $white;
}

.role, .client, .team, .date {
	margin: 0 auto;
	width: 25%;
	float: left;

	@include breakpoint($medium) {
		width: 25%;
		margin: 0 auto;

	}

}

.post {

	margin-bottom: 5.6em;
}

.post-content p{
	word-spacing: 0.15em;

	font-size: 2.0em;
	margin-bottom: 1.875em;

	@include breakpoint($medium) {
		font-size: 1.25em;
	}

	@include breakpoint($large) {
		font-size: 1.375em;
		line-height: 1.5em;
	}

}

.post-content h1 {
	font-size: 3em;
	line-height: 1.25;
	margin: 1.2em 0 0.7em 0;
	font-weight: bold;
	text-transform: uppercase;

	@include breakpoint($medium) {
		font-size: 2.073em;
		line-height: 1.131em;
	}

	@include breakpoint($large) {
		font-size: 2.221em;
	}
}

.post img {

	width: span(12 of 12 last);

}

.meta{
	color: $gold;
}

.post-nav{
	font-size: 1em;
	text-align: center;
	width: 100%;
}

.post-nav a{
	color: white;
	text-transform: uppercase;

}

.post-nav a:hover{
	color: black;


}

.prev, .next{
	width: auto;
	overflow: visible;
	white-space: nowrap;
	float: left;
	margin-bottom: 8em;
	margin-top: 3em;
	border-style: solid;
	border-color: $gold;
	padding: 10px 10px;
	color: $gold;

}

.prev:hover, .next:hover{
	background-color: $gold;
	color: $white;
}

.prev{
	border-width: 2px 2px 2px 2px;
	float: right;
}

.next{
	border-width: 2px 2px 2px 2px;
	float: left;	
}

.post-content p a {
	color: $gold;
}

.footer-text p{
	word-spacing: 0.15em;
	font-size: 1.6em;
	@include breakpoint($medium) {
		font-size: 1.2em;
	
	}

	@include breakpoint($large) {
		font-size: 1.3em;
		
	}
}