$breakpoint-to-ems: true;
$medium: 768px;
$large: 1030px;

$white: #fff;
$black: #000;
$gold: #dbc08d;
$primary-color: #000; 

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-relative {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}