

         <footer class="article-footer cf">

        </footer>


      </article>


      <div class="options">
        <div class="options-wrap">
          <div class="closer-wrap">
            <a href="#" class="closer" data-icon="X"></a>
          </div>
          <div>
            <h2>Lukas Kollmann <br> Media- & Interactiondesigner</h2>
          </div>
        <div class="footer-pic">
          <img src="https://lh4.googleusercontent.com/-Pc0H0xmoBKM/AAAAAAAAAAI/AAAAAAAAAAA/UIXhgWoznFY/photo.jpg">
        </div>
        <div class="footer-text">
          <p>Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht offensiv gespielt. Es gibt keine deutsche Mannschaft spielt offensiv und die Name offensiv wie Bayern. Letzte Spiel hatten wir in Platz drei Spitzen: Elber, Jancka und dann Zickler. Wir müssen nicht vergessen Zickler. Zickler ist eine Spitzen mehr, Mehmet eh mehr Basler. Ist klar diese Wörter, ist möglich verstehen, was ich hab gesagt? Danke. Offensiv, offensiv ist wie machen wir in Platz. Zweitens: ich habe erklärt mit diese zwei Spieler: nach Dortmund brauchen vielleicht Halbzeit Pause. Ich habe auch andere Mannschaften gesehen in Europa nach diese Mittwoch. </p>
        </div>
        </div>
      </div>
    </div>


  </div>

</div>





<footer class="footer" role="contentinfo">


  
    
  <a href="#" class="link-customize"><span>Media- & Interaction Designer</span></a>


</footer>