

         <footer class="article-footer cf">

        </footer>


      </article>


      <div class="options">
        <div class="options-wrap">
          <div class="closer-wrap">
            <a href="#" class="closer" data-icon="X"></a>
          </div>
          <div>
            <h2>Lukas Kollmann <br> Media- & Interactiondesigner</h2>
          </div>
        
        </div>
      </div>
    </div>


  </div>

</div>





<footer class="footer" role="contentinfo">


  
    
  <a href="#" class="link-customize"><span>Media- & Interaction Designer</span></a>


</footer>